{% extends "base.html" %}

{% block title %}Workflow Automation App{% endblock %}

{% block content %}
    <button onclick="createInput()">Create Step</button>
    <button id="delete-workflow-btn" onclick="document.getElementById('delete-workflow-form').submit();">Delete Workflow</button>
    <button id="execute-workflow-btn" onclick="executeStep(0)">Execute Workflow</button>

    <ul>
        {% for command, result, output in zip(workflow, results, outputs) %}
        <li class="{{ result }}" data-command="{{ command }}">
            <div class="remove-btn-container">
                Step {{ loop.index }}: {{ command }}
                <!-- <button class="edit-btn" onclick="editStep(event, {{ loop.index0 }})">✎</button> -->
                <button class="edit-btn" data-url="{{ url_for('edit_step') }}" onclick="editStep(event, {{ loop.index0 }})">✎</button>
                <button class="remove-btn" onclick="removeStep(event, {{ loop.index0 }}, '{{ url_for('remove_step') }}')">×</button>
            </div>
            <br>
            <small>{{ output }}</small>
        </li>
        {% endfor %}
    </ul>

    <form id="command-form" action="{{ url_for('create_step') }}" method="POST" style="display: none;">
        <input type="hidden" name="command" id="command-input">
    </form>
    <form id="delete-workflow-form" action="{{ url_for('delete_workflow') }}" method="POST" style="display: none;">
    </form>
    <form id="execute-workflow-form" action="{{ url_for('execute_workflow') }}" method="POST" style="display: none;">
    </form>
{% endblock %}
